In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel("OSMI_Final.xlsx")

In [4]:
df

,country,state,age,gender,self_employed,family_history,treatment,work_interfere,no_of_employees,tech_company,...,leave,mental_health_consequence,physical_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_health,obs_consequence,depressionLabel
0,United States of America,Nebraska,25,0,0,0,1,0,100,1,...,0,0,5,1,1,0,1,5,0,0
1,United States of America,Nebraska,51,0,0,1,1,1,100,1,...,1,0,5,0,0,0,0,7,0,1
2,United States of America,Illinois,27,0,0,0,1,0,100,1,...,1,0,5,0,0,0,0,4,0,0
3,United States of America,Nebraska,37,0,0,1,1,0,500,1,...,0,0,1,0,1,0,0,3,0,0
4,United States of America,Nebraska,46,0,0,0,1,0,100,1,...,1,0,4,0,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
944,United States of America,New York,53,0,0,0,1,1,1000,0,...,1,0,2,0,0,0,0,2,0,0
945,Philippines,New York,23,1,0,0,1,1,100,1,...,0,0,9,0,0,0,0,7,0,1
946,United States of America,Tennessee,34,0,0,1,1,1,500,1,...,0,0,5,0,0,0,0,5,0,1
947,Canada,Yukon,43,0,0,1,1,0,1000,0,...,1,0,6,0,0,0,0,5,0,1
948,Netherlands,Limburg,37,0,0,0,1,0,1000,1,...,0,1,8,1,1,1,1,8,0,0

In [5]:
df.columns

Index(['country', 'state', 'age', 'gender', 'self_employed', 'family_history',
       'treatment', 'work_interfere', 'no_of_employees', 'tech_company',
       'benefits', 'care_options', 'wellness_program', 'seek_help',
       'anonymity', 'leave', 'mental_health_consequence',
       'physical_health_consequence', 'coworkers', 'supervisor',
       'mental_health_interview', 'phys_health_interview', 'mental_health',
       'obs_consequence', 'depressionLabel'],
      dtype='object')

In [8]:
df["country"].value_counts()

United States of America    581
United Kingdom               58
India                        51
Canada                       34
Brazil                       26
Portugal                     20
Netherlands                  14
Germany                      13
Spain                        12
Poland                       11
Australia                     9
Norway                        8
Ireland                       7
France                        7
Turkey                        6
Italy                         6
Switzerland                   5
Mexico                        4
Japan                         4
Estonia                       3
Pakistan                      3
GerMany                       3
New Zealand                   3
Serbia                        3
Colombia                      3
Philippines                   3
Belgium                       3
Indonesia                     3
Russia                        3
South Africa                  3
Sweden                        2
Hong Kong                     2
Finland                       2
Austria                       2
Sri Lanka                     2
Iceland                       2
South AFrica                  2
Mongolia                      2
Ukraine                       2
Greece                        2
Bangladesh                    2
Georgia                       1
Cameroon                      1
Algeria                       1
Chile                         1
Nigeria                       1
Saudi Arabia                  1
Macedonia                     1
Croatia                       1
Mauritius                     1
Egypt                         1
Malaysia                      1
Ethiopia                      1
Israel                        1
Uruguay                       1
Taiwan                        1
Kenya                         1
AFghanistan                   1
Ghana                         1
Name: country, dtype: int64

In [9]:
df["state"].value_counts()

Washington        146
Illinois           65
Punjab             49
England            46
Colorado           46
                 ...
North Carolina      1
Yuvon               1
Vermont             1
Rogaland            1
Nevada              1
Name: state, Length: 70, dtype: int64

In [11]:
#shape
df.shape

(949, 25)

In [12]:
#Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 949 entries, 0 to 948
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      949 non-null    object
 1   state                        944 non-null    object
 2   age                          949 non-null    int64
 3   gender                       949 non-null    int64
 4   self_employed                949 non-null    int64
 5   family_history               949 non-null    int64
 6   treatment                    949 non-null    int64
 7   work_interfere               949 non-null    int64
 8   no_of_employees              949 non-null    int64
 9   tech_company                 949 non-null    int64
 10  benefits                     949 non-null    int64
 11  care_options                 949 non-null    int64
 12  wellness_program             949 non-null    int64
 13  seek_help                    949 non-null    int64
 14  anonymity                    949 non-null    int64
 15  leave                        949 non-null    int64
 16  mental_health_consequence    949 non-null    int64
 17  physical_health_consequence  949 non-null    int64
 18  coworkers                    949 non-null    int64
 19  supervisor                   949 non-null    int64
 20  mental_health_interview      949 non-null    int64
 21  phys_health_interview        949 non-null    int64
 22  mental_health                949 non-null    int64
 23  obs_consequence              949 non-null    int64
 24  depressionLabel              949 non-null    int64
dtypes: int64(23), object(2)
memory usage: 185.5+ KB

In [13]:
#describe

df.describe()

,age,gender,self_employed,family_history,treatment,work_interfere,no_of_employees,tech_company,benefits,care_options,...,leave,mental_health_consequence,physical_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_health,obs_consequence,depressionLabel
count,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,...,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000,949.000000
mean,34.937829,0.328767,0.076923,0.447840,0.990516,0.356164,626.238145,0.736565,0.517387,0.473130,...,0.463646,0.379347,6.099052,0.328767,0.487882,0.055848,0.234984,4.800843,0.026344,0.624868
std,8.818453,0.470013,0.266610,0.497534,0.096972,0.479117,349.889480,0.440729,0.499961,0.499541,...,0.498940,0.485480,2.237645,0.470013,0.500117,0.229750,0.424213,2.496276,0.160239,0.484412
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,0.000000,0.000000,0.000000,1.000000,0.000000,500.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000
50%,34.000000,0.000000,0.000000,0.000000,1.000000,0.000000,500.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,1.000000
75%,40.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1000.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,8.000000,1.000000,1.000000,0.000000,0.000000,7.000000,0.000000,1.000000
max,67.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1000.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,10.000000,1.000000,1.000000,1.000000,1.000000,10.000000,1.000000,1.000000

In [15]:
#check null values

df.isna().any()

# state attribute has null values

country                        False
state                           True
age                            False
gender                         False
self_employed                  False
family_history                 False
treatment                      False
work_interfere                 False
no_of_employees                False
tech_company                   False
benefits                       False
care_options                   False
wellness_program               False
seek_help                      False
anonymity                      False
leave                          False
mental_health_consequence      False
physical_health_consequence    False
coworkers                      False
supervisor                     False
mental_health_interview        False
phys_health_interview          False
mental_health                  False
obs_consequence                False
depressionLabel                False
dtype: bool

### Plotting

In [17]:
df["depressionLabel"].value_counts()

1    593
0    356
Name: depressionLabel, dtype: int64

In [18]:
df.iloc[1]

country                        United States of America
state                                          Nebraska
age                                                  51
gender                                                0
self_employed                                         0
family_history                                        1
treatment                                             1
work_interfere                                        1
no_of_employees                                     100
tech_company                                          1
benefits                                              1
care_options                                          0
wellness_program                                      0
seek_help                                             1
anonymity                                             1
leave                                                 1
mental_health_consequence                             0
physical_health_consequence                           5
coworkers                                             0
supervisor                                            0
mental_health_interview                               0
phys_health_interview                                 0
mental_health                                         7
obs_consequence                                       0
depressionLabel                                       1
Name: 1, dtype: object

In [23]:
df["gender"].value_counts()

0    637
1    312
Name: gender, dtype: int64